
.container{

}
.align-center{
	text-align:center;
	margin:auto;
	background-color: #00EEEE;
}
.img{
	background-color: #B7C3D0;
	width: 100%;
}
.darkblue{
	background-color: #008080;
}
.blue{
	background-color: #009ACD;
}
.lightblue{
	background-color: #00EEEE;
}
span{
	color: #B7C3D0;
	text-transform: uppercase;
}