
.container{

}
.align-center{
	text-align:center;
	margin:auto;
	background-color: #00EEEE;
}
.img{
	background-color: #B7C3D0;
	padding: 0px;
}
.darkblue{
	background-color: #2794A1;
}
.blue{
	background-color: #009ACD;
}
.lightblue{
	background-color: #00EEEE;
}
span{
	color: #B7C3D0;
	text-transform: uppercase;
}
img{
	width: 100%;
	margin: 0;
}
.container-fluid p{
	margin-bottom: 0px;
	padding-bottom: 20px
}
.container-fluid span{
	margin-bottom: 0px;
	padding-bottom: 20px
}