#center1{
	text-transform: uppercase;
	text-align: center;
	padding-top: 230px;
	padding-left: -40px;
}
#center2{
	text-transform: uppercase;
	text-align: center;
	padding-top: 160px;
}
#center3{
	text-transform: uppercase;
	text-align: center;
	padding-top: 160px;
}
#center4{
	text-transform: uppercase;
	text-align: center;
	padding-top: 140px;
}
#center5{
	text-transform: uppercase;
	text-align: center;
	padding-top: 10px;
}
.align-center{
	text-align:right;
	margin:auto;
	background-color: #36CEE1;
}
.img{
	background-color: #B7C3D0;
	padding: 0px;
}
.darkblue{
	background-color: #2794A1;
}
.white{
	background-color: #FFFFFF;
	color: black;
}
.lightblue{
	background-color: #36CEE1;
}
.container-fluid p{
	margin-bottom: 0px;
	padding-bottom: 20px
}
.container-fluid span{
	margin-bottom: 0px;
	padding-bottom: 20px
}
/*span{
	color: rgb(14, 72, 134);
	text-transform: uppercase;
}*/
img{
	width: 100%;
	margin: 0;
}
h1{
	padding-top: 20px;
	font-size: 2.4em;
}
h3{
	font-size: 1.8em;
	margin-bottom: 30px;
}
h1,h3,p{
	color: white;
}
div:nth-of-type(6){
	margin-top: 0px;
}