body {
    margin-bottom: 110px; /* Margin bottom by footer height */
    background-image: url(../afbeeldingen/Home2.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.back{
    height: 600px;
}